<!-- <h2>Rhipe</h2> -->
<!-- <p> -->
<!-- <\!-- <img src="" alt="" title=""  class="img-rounded floatLeft" />          -\-> -->
<!-- The R and Hadoop Integrated Programming Environment</p>					 -->
<!-- <p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rhipe&repo=rhipe.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rhipe&repo=rhipe.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p> -->
<!-- <p><a href="https://twitter.com/rhipe" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @rhipe</a></p> -->
<!-- <p> -->
<!-- 	<\!-- <ul class="buttons unstyled"> -\-> -->
<!-- 	<\!--   <li><a href="http://github.com/rhipe" rel="me" class="social github" title="Go to github.com/rhipe" target="_blank"></a></li> -\-> -->
<!-- 	<\!--   <li><a href="https://github.com/rhipe/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback"  target="_blank"></a></li>				 -\-> -->
<!-- 	<\!-- </ul> -\-> -->
<!-- </p> -->