<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://saptarshiguha.github.io/RHIPE/">RHIPE Blog</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="https://github.com/saptarshiguha/RHIPE">RHIPE on GitHub</a>
		  </li>
		  <li class=""><a href="">Function Index</a>
		  <li class=""><a href="">Downloads</a>
		<!-- <li class="dropdown"> -->
		<!-- 	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i>Sticky Pages <b class="caret"></b></a> -->
		<!-- 		<ul class="dropdown-menu">					 -->
		<!-- 			<li class=""><a href="https://github.com/placeholder1" rel="tooltip" title="placeholder1" target="_blank">placeholder1</a></li>					 -->
		<!-- 			<li class=""><a href="http://rhipe.github.com/placeholder2" rel="tooltip" title="placeholder2">placeholder2</a></li> -->
					
		<!-- 		</ul> -->
		<!-- 	      </li> -->
			      
		</ul>		
	  </div>
	</div>
  </div>
</div>